.home {
    background: url('../Images/home.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.hometext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.hometext h2 {
    color: #fff;
font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;      
      font-weight: 400;
        font-size: 3em;
        letter-spacing: 2px;
        line-height: 65px;
        text-align: center;
        padding-bottom: 2rem;
}

.hometext em {
    color: yellow;
}


.hometext button{
        background-color: white;
color: #8c929c;            padding-bottom: 17px;
            padding-top: 17px;
            padding-left: 25px;
            padding-right: 25px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
}


/* posts
------------------------------------------------------------------------------*/

.homecon main {
    overflow: hidden;
    padding-top: 91px;
    width: 100%;
}

.homecon main .submain{
    margin: auto;
        max-width: 80rem;
}

.homecon main .posts{
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts article {
    width: 50%;
    float: left;
    padding: 0 15px;
}

.posts .pic {
    float: left;
    margin-right: 30px;
    margin-top: 6px;
}

.posts .info {
    overflow: hidden;
    padding-right: 10px;
}

.posts .info h3 {
    overflow: hidden;
    color: #008bc3;
    font-family: 'BebasNeue';
    font-size: 30px;
    line-height: 34px;
    padding-bottom: 11px;
}

.icon-container {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background: #f0f0f0;
    clip-path: polygon(30% 0%, 70% 0%,
            100% 30%, 100% 70%,
            70% 100%, 30% 100%,
            0% 70%, 0% 30%);
}

.icon-container .svg-inline--fa {
    position: relative;
    z-index: 1;
    font-size: 40px;
    color: #333;
}