* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header-container {
  width: 100%;
}

.Header-container header {
  margin: auto;
  max-width: 80rem;
  
}


.Header-container header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

header div nav {
  display: inline-block;
}

header div nav ul {
  display: inline-block;
}

header div nav ul li {
  list-style: none;
  display: inline-block;
  vertical-align: baseline;
}

header div nav ul li a {
  font-size: 19px;
  color: #8c929c;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: 'BebasNeue', sans-serif;
}


header div nav ul li a:hover {
  text-decoration: underline;
  color: navy;
}


.schlogo img {
      width: 120px;
        height: 120px;
        object-fit: cover;
        vertical-align: baseline;
        margin-left: 0.5rem;
          margin-right: 0.5rem;
}